/*NEW STYLESHEET ADJUSTED FOR NEW WEBSITE DESIGN*/


/*NAVIGATION STYLING*---------------------------------*/

nav{ 
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 50px;
    font-size: 30pt;
}


    nav a:hover{
        color: #399cc3;
    }
    
    nav a:active{
        color: #ff99cc;
    }
    
    
    .currentLink{
        color: #cc6699;
        background-color: black;
    }
    nav ul li {
        list-style-type: none;
        width: 150 px;
        float: left;   
    }
    
     nav ul li a {
        text-decoration:none;
        color: white;}



/*BODY OF WEBSITE STYLING*/

body {
    background-color: black;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}

div{
    margin-left: 300px;
    margin-right: 300px;
}
    

p{
    color: white;
    text-align: justify;
    margin-left: 100px;
    font-size: 24pt;

}

h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 100px;
}
 

footer ul li{
    font-size: 18pt;
    background-color: #106377; 
    color: white; 
    list-style-type: none;
}


/*media query*/


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }


